<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qianfeng.dao.UserDao">

    <insert id="addUser" parameterType="com.qianfeng.pojo.User">
        INSERT INTO user(username,usersex) VALUES(#{username},#{usersex});
    </insert>

</mapper>